body {
    background-color: #A6C3C9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 550px;
    margin: 0 auto;
}

.img {
    width: 100%
    
}

.container {
    padding: 24px 32px;
    border-radius: 32px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    background-color: #F7CD7F;
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1, h2, label,legend {
    font-family: "Parkinsans", sans-serif;
    font-weight: bold;
    color: #DB573A;
    display: flex;
    justify-content: center;
}



label {
    font-size: x-large;
    color: darkcyan;
}

select, input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

button {
    padding: 16px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-family: "Parkinsans", sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
    font-family: "Parkinsans", sans-serif;
    background-color: #F7CD7F;
    color:darkcyan;
    border: 3px solid #DB573A;
    
    
}

tbody, thead, td, th, tr {
    text-align: center;
    border: 1px solid #DB573A;
  
}

fieldset {
    border: 2px solid #DB573A;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 16px;
}

.calcular {
    background-color: #7fffd4;
    color: #546b2c;
}

.calcular:hover {
    background-color: #4ec09a;
    color: white;
    cursor: pointer;
}

.limpar {
    background-color: lightsalmon;
    color: darkred;
}

.limpar:hover {
    background-color: rgb(218, 80, 80);
    color: rgb(255, 183, 183);
    cursor: pointer;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px; /* espaço entre linhas */
}